<!-- your html code here -->
<hr class="container solid">
<div class="container-fluid bg-white p-0">
    <div class="container">
        <h2>Contact</h2>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
            cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. </p>
    </div>
    <div class="container border border-1 bg-light mb-3 position-relative" style="width:70%;">
        <br>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label"><strong>Your E-mail</strong></label>
            <div class="col-sm-10">
                <input type="text" class="form-control w-100" id="inputEmail" placeholder="Your email">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label"><strong>Your message</strong> </label>
            <div class="col-sm-10">
                <input type="text" class="form-control pb-5" id="exampleFormControlTextarea1" placeholder ="Please, enter your message here.">
            </div>
        <div class="mb-3 row p-2 align-text-bottom">
            <div class="col-11"><br></div>
            <div class="col-1">
                <button type="submit" class="btn btn-primary mb-3">Submit</button>
            </div>
        </div>
    </div>
    <br>
</div>
<br>