<footer>
  <div class="container">
    <p>
      <b>
        Copyright &copy;
        <a href="https://github.com/JorgeOviedo3" class="text-decoration-none"
          >Jorge Oviedo</a
        >,
        <a href="https://github.com/Javierklie" class="text-decoration-none"
          >Javier Klie</a
        >,
        <a href="https://github.com/frako23" class="text-decoration-none"
          >Francisco Orozco</a
        >
        &amp;
        <a href="https://github.com/Abrahamjf" class="text-decoration-none"
          >Abraham Ferrer</a
        >
        2022
      </b>
    </p>
  </div>
</footer>
