<!-- your html code here -->
<div class="container">
  <hr class="solid" />
  <div class="py-5">
    <h2>Portfolio</h2>
    <p class="fs-5">
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>

    <div class="row">
      <div class="col-4">
        <div class="card">
          <img src="../website/assets/img/big-project-image.png" />
        </div>
        <div class="pt-2">
          <h4 class="card-title text-primary">Project Name</h4>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img src="../website/assets/img/big-project-image.png" />
        </div>
        <div class="pt-2">
          <h4 class="card-title text-primary">Project Name</h4>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img src="../website/assets/img/big-project-image.png" />
        </div>
        <div class="pt-2">
          <h4 class="card-title text-primary">Project Name</h4>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
