<div class="container">
    <hr class="solid"/>
<div class="row  py-5">
    <div class="col-4"><img class="rounded-circle w-75" src="../website/assets/img/2.jpg" alt=""></div>
    <div class="col-8">
        <h2 class="d-inline">The Second Heading</h2> <h2 class="text-secondary d-inline">Is Pretty Cool To.</h2>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. <br>
            Fusce dapibus, tellus ac cursus commodo.
            </p></div>   
</div>
</div>